<h1> Make a new favorite</h1>
<%= form_for @favorite do |f| %>
    <%= f.collection_select :user_id, User.all, :id, :name %><br>
    <%= f.collection_select :song_id, Song.all, :id, :name %><br>
    <%= f.submit %>
<% end %>
