

 <div style="text-align: center; margin-top: 25%;">
    <p>Make your edits below:</p>
        <h5> <%= form_for @user do |f| %>
            Name <%= f.text_field :name %>
            Image <%= f.text_field :image %>
            <%= f.submit "Update Profile" %>
            <%end%>
        </h5>
</div>
