<h1> New user signup#new</h1>
#<p>Find me in app/views/user/new.html.erb</p>
<%= form_for @user do |f| %>
    
    <label>Name:</label><br>
    <%= f.text_field :name %><br>

    <%= f.submit "Create New User" %>

<% end %>
