
  <h1 style="margin-top: 10%;
">Songs</h1>
  <br>
  <br>


    <br>
    <br>  

  <% @songs.each do |song| %>
    <%= song.name %>
    <table style= "width: 100%;">
      <tr style= "width: 100%;">
        <%= link_to song.artist.name, artist_path(song.artist_id) %> |
        <%= link_to song.genre.name, genre_path(song.genre_id) %> |
        <%= button_to 'favorite', song_favorite_path(song), method: "post" %> 
      </tr>
    </table>
  <% end %>



   